<html lang="en">
  {% include _head.html %}
  <body class="default site">
    {% include _navigation_main.html %}
    <section class="wrap">
      <h1>About Us</h1>
    </section>
    <section>
      <article>
        <table>
          <tr><td></td>
          <td></td></tr>
          <tr>
            <td width="30" ><h4>Cole Townsend</h4></td>
            <td width="70">
              <p>Cole is a designer. Co-founder of Meeet, designer of TheNews App, curator of New Old Stock. He is currently studying Art History at Williams College and will graduate in Spring of 2015.<p>
              <p>You can see more of his design work <a href="http://twnsnd.co">here</a>.<p></td>
          </tr>
          <tr>
            <td><h4>Noah Buscher</h4></td>
            <td>
              <p>Noah is a web developer, espresso machine, and co-founder of Meeet. He's lived all over the United States. Currently, he is a freshman at Bishop Garrigan High School.</p>
              <p>You can see some of his code <a href="http://github.com/noahbuscher">here</a>.<p></td>
            </td>
          </tr>
       </table>
      </article>
    </section>
  </body>
</html>

