<html lang="en">
  {% include _head.html %}
  <body class="home site">
    {% include _navigation_main.html %}
    <section class="hero">
      <article>
       <h5 class="hero-text">
         Pretty Common is a collaboration that produces accessible digital projects. We make simple resources for the web that just work.
       </h5>
      </article>
    </section>
    <!-- Portfolio section, sprinkled with blog posts -->
    {% include _work-loop.html %}
    {% include _footer.html %}
  </body>
</html>

