@import "neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
$column: golden-ratio(1em, 3) !default;
$gutter: golden-ratio(1em, 1) !default;
$grid-columns: 12;
$max-width: em(1088, 20);

// Neat Breakpoints
$medium-screen: em(640, 16);
$large-screen: em(1280, 20);

$medium-screen-up: new-breakpoint(min-width $medium-screen);
$large-screen-up: new-breakpoint(min-width $large-screen);