// bourbon + neat
@import "bourbon/bourbon";
@import "_grid-settings";
@import "base/base";
@import "neat/neat";


// sassline
// Import Sassline base SCSS files in order so variables are read correctly.

// Import all SCSS modules with Sass globbing.
@import "modules/globals";
@import "modules/header";
@import "modules/hero";
@import "modules/works";
@import "modules/post";
@import "modules/footer";

// Demo baseline grid styles.
#baseline.show-grid {
  background-image: -webkit-linear-gradient(top, cyan 0, rgba(255,255,255,0) 1px);
  background-image: -moz-linear-gradient(top, cyan 0, rgba(255,255,255,0) 1px);
  background-image: -o-linear-gradient(top, cyan 0, rgba(255,255,255,0) 1px);
  background-image: linear-gradient(to bottom, cyan 0, rgba(255,255,255,0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 1rem;
}

// global stuff
// @import "_instantclick";